#mainpage
  text-align: center
  .btn-box
    margin: 20px auto
    justify-content: space-around
  .tagcheck
    display: none
  .tag-checked
    background-color: #31b0d5


  table
    text-align: left
    margin-top: 20px
